.container
  .row-fluid
    .offset4
      %h2.offset1.drop-shadow Sign Up
      .hero-unit.hero-mod.span7
        = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
          = f.error_notification
          .form-inputs
            = f.input :email, :required => true, :autofocus => true
            = f.input :password, :required => true
            = f.input :password_confirmation, :required => true
            = f.button :submit, "Sign up", class: "btn"
        = render "devise/shared/links"
