.container
  .row-fluid
    .offset4
      %h2.offset1.drop-shadow Forgot your password?
      .hero-unit.hero-mod.span7
        = simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
          = f.error_notification
          .form-inputs
            = f.input :email, :required => true, :autofocus => true
            = f.button :submit, "Submit Reset", class: "btn"
        = render "devise/shared/links"
